body, html {
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300; }

body {
  font: 100%/1.5 Arial;
  background: #050505; }

* {
  margin: 0;
  padding: 0; }

.parallax {
  font-size: 130%; }

.title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.parallax {
  height: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px; }

.parallax__group {
  position: relative;
  height: 500px;
  height: 100vh;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.parallax__layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax__layer--fore {
  -webkit-transform: translateZ(90px) scale(0.7);
  transform: translateZ(90px) scale(0.7);
  z-index: 1; }

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 4; }

.parallax__layer--back {
  -webkit-transform: translateZ(-300px) scale(2);
  transform: translateZ(-300px) scale(2);
  z-index: 3; }

.parallax__layer--deep {
  -webkit-transform: translateZ(-600px) scale(3);
  transform: translateZ(-600px) scale(3);
  z-index: 2; }

.parallax__group {
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s; }

#group1 {
  z-index: 5; }
  #group1 .parallax__layer--base {
    background-image: url("images/background-1.jpg");
    background-size: cover; }

#group2 {
  z-index: 3; }
  #group2 .parallax__layer--back {
    background-image: url("images/background-2.jpg");
    background-size: cover; }

#group3 {
  z-index: 4; }
  #group3 .parallax__layer--base {
    background-image: url("images/background-3.jpg");
    background-size: cover; }

#group4 {
  z-index: 2; }
  #group4 .parallax__layer--deep {
    background-image: url("images/background-4.jpg");
    background-size: cover; }

#group5 {
  z-index: 5; }
  #group5 .parallax__layer--base {
    background-image: url("images/background-5.jpg");
    background-size: cover; }

#group6 {
  z-index: 3; }
  #group6 .parallax__layer--back {
    background-image: url("images/background-6.jpg");
    background-size: cover; }

#group7 {
  z-index: 4; }
  #group7 .parallax__layer--base {
    background-image: url("images/background-7.jpg");
    background-size: cover; }

#group8 {
  z-index: 2; }
  #group8 .parallax__layer--deep {
    background-image: url("images/background-8.jpg");
    background-size: cover; }

#group9 {
  z-index: 5; }
  #group9 .parallax__layer--base {
    background-image: url("images/background-9.jpg");
    background-size: cover; }

#group10 {
  z-index: 3; }
  #group10 .parallax__layer--back {
    background-image: url("images/background-10.jpg");
    background-size: cover; }

#group11 {
  z-index: 4; }
  #group11 .parallax__layer--base {
    background-image: url("images/background-11.jpg");
    background-size: cover; }

#group12 {
  z-index: 2; }
  #group12 .parallax__layer--deep {
    background-image: url("images/background-12.jpg");
    background-size: cover; }

#group13 {
  z-index: 5; }
  #group13 .parallax__layer--base {
    background-image: url("images/background-13.jpg");
    background-size: cover; }

#group14 {
  z-index: 3; }
  #group14 .parallax__layer--back {
    background-image: url("images/background-14.jpg");
    background-size: cover; }

.title {
  padding: 12px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.88);
  box-shadow: 0 0 19px rgba(0, 0, 0, 0.5); }
  .title img {
    display: block;
    margin: 0 auto; }

.widget {
  margin: 0;
  padding: 0; }

.sfmsb-follow-social-buttons.sfmsb-under a:last-of-type {
  margin-right: 0; }

.underline {
  text-decoration: underline; }

.text-left {
  text-align: left; }

.widget-title {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 10px;
  text-transform: none; }

p {
  margin-bottom: 10px; }

.findMe {
  font-size: 80%; }
